// Header
.site-header {
  margin: 0 rem(60);
  padding: rhythm(1) 0;

  @include mappy-bp(medium) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.site-header__navigation {
  .menu {
    margin: 0;
  }
}

.branding {}

.site-logo {
  font-size: rem(32);

  a {
    &:hover {
      color: $link-color;
    }
  }
}

.site-description {
  color: $white;
  font-family: $brand-font-family;
  font-size: rem(20);
}

// Navigation

.site-navigation {
  @include mappy-bp(medium) {
    margin-left: auto;
  }

  .menu {
    padding: 0;
  }

  .menu-item {
    & + .menu-item {
      @include mappy-bp(medium) {
        margin-left: rem(50);
      }
    }

    a {
      color: $primary-text-color;
    }
  }
}
