//
//  Variables
//

// Colors
//

// Grays
$white: #fefefe;
$gray-light: #F5F5F5;

// Branding
$brand-primary: #3f54fd;
$brand-secondary: #3f54fd;
$brand-tertiary: #D28E89;
$brand-quaternary: #94A5D9;
$brand-fifth: #611732;

// Global colors
$body-color: $white;
$primary-text-color: #111;
$link-color: $brand-primary;
$heading-text-color: $primary-text-color;

// Fonts
//
$base-font-family: 'Inter', Arial, sans-serif;
$header-font-family: $base-font-family;
$brand-font-family: 'Amatic SC', Arial, Helvetica, sans-serif;

// Define the global base font size
// Since $px-base-font-size is defined on the <html> tag,
// it will affect the way browsers and theme helpers calculate rem values
// @see _html-elements.scss
//
$px-base-font-size: 16px !default;
$px-base-font-size-mobile: 16px !default;
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Modular scale font-sizes
$modular-scale-ratio: 1.2; // minor-third
$font-size-xxl: 1.728em;
$font-size-xl: 1.44em;
$font-size-lg: 1.2em;
$font-size-normal: 1em;
$font-size-md: 0.833em;
$font-size-sm: 0.694em;
$font-size-xs: 0.579em;

// Button
//
$button-font-family: $base-font-family;
$button-bg-color: $gray-light;
$button-text-color: $primary-text-color;
$button-prim-bg-color: #ccc;
$button-prim-text-color: #ccc;
